.loginView{
    width: 400px;
    margin: auto;
}

.logiButton{
    text-align: right ;
}

.generalHeader
{
    color: #c3c3c3 ;
    background: #dddde5 ;
    text-align: center ;
}

/*.generalHeader > h1
{
    text-align: center ;
}*/
